<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HelloRohit</display-name>
  <welcome-file-list>
    <welcome-file>form.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloRohit</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>HelloRohit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Hel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginPage</display-name>
    <servlet-name>LoginPage</servlet-name>
    <servlet-class>LoginPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/LoginPage</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>GoldRate</param-name>
    <param-value>30000</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>EmpServlet</display-name>
    <servlet-name>EmpServlet</servlet-name>
    <servlet-class>EmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/EmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginFrom</display-name>
    <servlet-name>LoginFrom</servlet-name>
    <servlet-class>LoginFrom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginFrom</servlet-name>
    <url-pattern>/LoginFrom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginReport</display-name>
    <servlet-name>LoginReport</servlet-name>
    <servlet-class>LoginReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginReport</servlet-name>
    <url-pattern>/LoginReport</url-pattern>
  </servlet-mapping>
</web-app>
